/* ADD THIS LINE UNDER IN ALL FILES YOU WANT TO REACH VARIABLES AND MIXINS EASY */
/// <reference path="../css.scss" />



.slide-right {
    overflow: hidden;

    &.inview {


        .info {
            animation: 1s slide-right 0.5s forwards;
            transform: translateX(-100%);
        }

        img {
            animation: 1s slide-right 0.5s forwards;
            transform: translateX(-100%);
        }

        .big-image {
            animation: 1s slide-right 0.5s forwards;
            transform: translateX(-100%);
        }

        .text-image {
            animation: 1s slide-right 0.5s forwards;
            transform: translateX(-100%);
        }

        .grid-header {
            animation: 1s slide-right 0.5s forwards;
            transform: translateX(-100%);
        }

        @keyframes slide-right {
            to {
                transform: translateX(0);
            }
        }
    }
}

.slide-left {
    overflow: hidden;



    &.inview {

        .hero-text {
            animation: 1s slide-left 0.5s forwards;
            transform: translateX(100%);
        }

        .big-image {
            animation: 1s slide-left 0.5s forwards;
            transform: translateX(100%);
        }

        img {
            animation: 1s slide-left 0.5s forwards;
            transform: translateX(100%);

            @include lg-phone {
                padding-right: 0;
                margin: 0 30px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }


        @keyframes slide-left {
            to {
                transform: translateX(0);
            }
        }
    }
}

.slide-up {
    opacity: 0;

    &.inview {
        overflow: hidden;
        animation: 1s slide-up 0.5s forwards;
        transform: translateY(100%);

        @keyframes slide-up {
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.slide-down {
    overflow: hidden;

    &.inview {
        animation: 1s slide-down 0.5s forwards;
        transform: translateY(-200%);



        @keyframes slide-down {
            to {
                transform: translateY(0);
            }
        }
    }
}
