/* ADD THIS LINE UNDER IN ALL FILES YOU WANT TO REACH VARIABLES AND MIXINS EASY */
/// <reference path="../css.scss" />


// wocs

.full-info-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    color: #FFFFFF;
    text-align: end;


    @include lg-phone {
        padding: 0 35px;
        text-align: start;

        p {
            padding-right: 60px;
        }

        h1 {
            font-size: 6rem !important;
        }
    }





    h1 {
        margin: 0 0 20px;
        font-size: 7rem;
        line-height: 1;
        font-weight: 500;
    }

    p {
        text-align: end;
        color: white;
    }

    .quote {
        font-size: 1.8rem;
        max-width: 700px;
        text-align: justify;
        color: white;

        p {
            color: white;
        }
    }

    .co-founder-name {
        margin-top: 5rem;
    }

    .co-founder {
        font-size: 1.4rem;
    }
}



//swiper js container

.container-move {
    display: flex;
    align-items: end;
    text-align: end;
    justify-content: flex-end;
}

.swiper-container-hero {
    position: relative;
    overflow: hidden;
    list-style: none;
    text-align: justify;
    z-index: 1;
    max-width: 840px;

    @include lg-phone {
        padding-left: 40px;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        margin: auto;
        max-width: 300px;
    }
}

.swiper-btn-left-media {
    left: 75rem !important;

    @include lg-phone {
        left: 20px !important;
        margin-top: 330px !important;
    }
}



.swiper-btn-right-media {
    right: 20rem !important;

    @include lg-phone {
        right: 20px !important;
        margin-top: 330px !important;
    }
}

