.hero-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 10rem;
  font-family: "Lato";

  h1 {
    font-size: 5rem;
    margin-bottom: 0;
    font-weight: 700;
    display: flex;
    // text-shadow: rgb(0 0 0 / 25%) 2px 3px 3px;
  }

  h3 {
    margin-top: 0;
    text-transform: capitalize;
    // transform: rotate(354deg);
    font-weight: 300;
    // text-shadow: 0.8px 1.5px #fff;
    font-family: "Lato";
  }

  img {
    max-width: 500px;
    max-height: 500px;
    box-shadow: 0 19px 38px #999;
    border-radius: 12px;

    @include lg-phone {
      max-width: 250px;
      max-height: 250px;
    }
  }
}
