.hero-info {
  position: absolute;
  top: 260px;
  font-family: "Lato";
  margin-left: 27rem;
  @media screen and (max-width: 1800px) {
    margin-left: 15rem;
  }

  @media screen and (max-width: 1380px) {
    margin-left: 7rem;
  }

  @media screen and (max-width: 1100px) {
    margin-left: 3rem;
  }

  @media screen and (max-width: 700px) {
    top: 200px;
  }

  div {
    p {
      margin-top: 10rem;
      max-width: 500px;
      text-align: justify;
      position: absolute;
    }
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    display: flex;
    @media screen and (max-width: 1680px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 1280px) {
      font-size: 3.2rem;
    }

    @media screen and (max-width: 700px) {
      font-size: 4.7rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 3.2rem;
    }
  }

  h3 {
    margin-top: 0;
    text-transform: capitalize;
    // transform: rotate(354deg);
    font-weight: 300;
    // text-shadow: 0.8px 1.5px #fff;
    font-family: "Lato";
  }

  img {
    max-width: 357px;
    max-height: 500px;

    border-radius: 50%;

    @include lg-phone {
      max-width: 250px;
      max-height: 250px;
    }
  }
}

.gif {
  height: 100vh;

  img {
    width: 40vw;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: 1580px) {
    img {
      width: 100%;
    }
  }
}

.hero-background {
  display: flex;
  flex-direction: column;
  padding: 40px;

  div {
    max-width: 600px;
  }

  .background-text {
    margin-top: 14rem;

    p {
      margin-top: 13rem;
      font-family: "Lato";
      text-align: justify;
      font-size: 2.5rem;
    }

    @media screen and (max-width: 700px) {
      margin-top: 1rem;
      p {
        margin-top: 1rem;
        font-weight: 400;
        color: white;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    p {
      font-size: 2rem !important;
    }
  }

  @media screen and (max-width: 750px) {
    p {
      font-size: 1.5rem !important;
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;

  & > div {
    flex: 0.5;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.about-arrow-down {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  max-width: 600px;
  flex-direction: column;
  text-align: center;

  p {
    font-family: "Lato", "Helvetica Neue";
  }

  a {
    color: white;
    text-align: center;

    svg {
      height: 35px;
      width: 35px;
      transition: 0.6s ease;

      &:hover {
        height: 45px;
        width: 45px;
        color: #1b4e61;
      }
    }
  }
}
