.hero-info {
  display: flex;
  justify-content: space-between;
  margin-top: 21rem;
  margin-bottom: 10rem;
  font-family: "Lato";
  min-height: 172px;
  margin-left: 27rem;

  div {
    p {
      margin-top: 10rem;
      max-width: 500px;
      text-align: justify;
      position: absolute;
    }
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    display: flex;
    // text-shadow: rgb(0 0 0 / 25%) 2px 3px 3px;
  }

  h3 {
    margin-top: 0;
    text-transform: capitalize;
    // transform: rotate(354deg);
    font-weight: 300;
    // text-shadow: 0.8px 1.5px #fff;
    font-family: "Lato";
  }

  img {
    max-width: 357px;
    max-height: 500px;

    border-radius: 50%;

    @include lg-phone {
      max-width: 250px;
      max-height: 250px;
    }
  }
}

.background-text {
  margin-top: 14rem;
  max-width: 600px;
  margin-right: 300px;

  p {
    margin-top: 13rem;
    font-family: "Lato";
    text-align: justify;
    font-size: 2.5rem;
  }
}

.gif {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-height: 100vh;

  img {
    width: 40vw;
    max-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.hero-background {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;

  & > div {
    width: 50%;
    height: 100vh;
  }
}

.about-arrow-down {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  max-width: 600px;
  flex-direction: column;
  text-align: center;

  p {
    font-family: "Lato", "Helvetica Neue";
  }

  a {
    color: white;
    text-align: center;

    svg {
      height: 35px;
      width: 35px;
      transition: 0.6s ease;

      &:hover {
        height: 45px;
        width: 45px;
        color: #1b4e61;
      }
    }
  }
}
