/* ADD THIS LINE UNDER IN ALL FILES YOU WANT TO REACH VARIABLES AND MIXINS EASY */
/// <reference path="../css.scss" />


// olss


.grid-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10rem 0;
    font-family: Cambria,Georgia,serif;

    @include lg-phone {
        margin: 0;
        padding: 5rem 25px;

        h1 {
            font-size: 4.8rem !important;
        }

        h2 {
            font-size: 1.8rem !important;
        }
    }

    h1 {
        font-size: 8.8rem;
        margin: 15px 0 30px;
        line-height: 1;
        font-weight: 500;
    }

    h2 {
        font-size: 20pt;
        font-weight: 400;
    }
}


//MASONRY grid

.masonry-grid {
    --gap: 1em;
    --columns: 4;
    display: column;
    columns: var(--columns);
    grid-gap: var(--gap);
    padding-top: 5rem;
    margin-bottom: 5rem;

    @include lg-phone {
        display: flex;
        flex-direction: column;
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }

    a {
        color: black;

        &:hover {
            color: $color-green;
        }
    }

    @supports (grid-template-rows: masonry) {
        .masonry-grid {
            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            grid-template-rows: masonry;

        }
    }

    .masonry-grid > * {
        break-inside: avoid;
        margin-bottom: var(--gap);
    }
}

.grid-item {
    text-align: center;
    max-width: 325px;


    @include lg-phone {
        img {
            max-height: 220px !important;
            height: 220px;
            max-width: 335px !important;
            width: 335px;
        }
    }


    .overlay {
        display: inline-flex;
        background: $color-green;
        max-height: 433px;
    }

    img {
        width: 100%;
        max-height: 440px;
        background-position: center;
        background-size: cover;


        &:hover {
            opacity: 0.5;
            display: inline-flex;
        }
    }



    h4 {
        color: black;
        margin: 0;
        padding: 10px;

        &:hover {
            color: $color-green;
        }
    }


    article {
        break-inside: avoid-column;
        margin-bottom: 1rem;
        line-height: 1;
        padding: 20px 0;
    }


    span {
        color: black;

        &:hover {
            color: $color-green;
        }
    }
}






.container2 {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    grid-gap: 20px;
    padding-bottom: 10rem;

    @include lg-phone {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        font-size: 20px;
        text-align: center;
        line-height: 1;

        a {
            color: black;

            &:hover {
                color: $color-green;
            }
        }
    }

    img {
        max-width: 100%;
    }

    .movedown {
        padding-top: 40px;
    }

     .movedown-big {
        padding-top: 95px;
    }
}



