/* ADD THIS LINE UNDER IN ALL FILES YOU WANT TO REACH VARIABLES AND MIXINS EASY */
/// <reference path="../css.scss" />








.home-header {
    font-size: 8.8rem;
    margin: 15px 0 30px;
    line-height: 1;
    font-weight: 500;
}




// Where we excel



.wwe-image {
    height: 732px;
    width: 951.5px;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wwe-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 225px;

    @include lg-phone {
        display: flex;
        width: 340px;
        padding-right: 0;
        align-items: flex-start;

        h3 {
            font-size: 1.7rem !important;
        }


        h4 {
            font-size: 2rem !important;
            font-weight: 400;
        }
    }



    h1 {
        text-align: end;
        font-size: 50pt;
        font-weight: 400;
        margin: 0 0 50px;
    }



    h3 {
        align-items: flex-end;
        margin: 0;
        font-size: 2.1rem;
        font-weight: 400;
        margin-top: 1.2rem;
    }

    h4 {
        font-weight: 400;
        font-size: 2.5rem;
    }

    span {
        font-size: 1.7rem;

        @include lg-phone {
            font-size: 1.3rem;
        }
    }


    .header {
        text-align: end;

        @include lg-phone {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-right: 22px;

            h1 {
                text-align: start;
                font-size: 3.9rem;
            }
        }
    }
}


// WWD


.info-reverse {
    flex-direction: row-reverse;
    padding-top: 100px;
}

.text-image {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

@include lg-phone {
    .text-image {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}



.underlined-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 20px 0;

    li {
        border-bottom: 3px solid black;
    }

    @include lg-phone {
        display: flex;
        font-size: 1.2rem;
    }

    .white {
        border-bottom: 3px solid white;

        @include lg-phone {
            padding: 10px 0;
        }
    }
}


.wwd-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 200px;
    margin: 0;
    max-width: 800px;
    padding-left: 250px;

    @include lg-phone {
        display: flex;
        padding-left: 30px;
        width: 340px;

        h1 {
            font-size: 5rem !important;
        }

        & h3 {
            font-size: 2rem !important;
        }
    }



    h1 {
        font-size: 7rem;
        line-height: 7rem;
        font-weight: 400;
        margin: 0;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    h4 {
        font-size: 2.5rem;

        @include lg-phone {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }

    .line1 {
        height: 5px;
        background-color: $color-black;
    }
}



    .bg-blue {
        background-color: $color-blue;
        color: $color-white;
    }


    .wwd-image {
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }


.wwd-header {
    font-size: 8.8rem;
    margin: 15px 0 30px;
    line-height: 1;
    font-weight: 500;

    @include lg-phone {
        font-size: 4.6rem;
        text-align: left;
    }


    h1 {
        font-weight: 500;
    }

    @include lg-phone {
        display: flex;
        flex-direction: column;

        h3 {
            font-size: 2rem;
        }

        h1 {
            font-size: 4.8rem;
            line-height: 1;
        }
    }
}
@include lg-phone {
    .small-media-text {
        font-size: 1.4rem;
        text-align: start;
    }
}
@include lg-phone {
    .media-move-right {
        padding: 0 10px !important;
    }
}


.wwd-text-reverse {
    padding: 0;
    padding-left: 130px;
    max-width: 720px;



    p {
        width: 95%;
        max-width: 600px;
        padding: 20px 0;
        word-wrap: break-word;
        display: inline-block;
        line-height: 1.7;
        text-align: justify;
        border-bottom: 2px solid $color-white;
        border-top: 2px solid $color-white;
        margin-bottom: 0;
    }
}

.wwd-text {
    text-align: end;
    align-items: flex-end;
    padding: 0;
    margin-left: 0;
    padding-left: 40px;
    max-width: 720px;
    padding-right: 20px;

    @include lg-phone {
        padding-left: 5px;
        text-align: start;
    }


    p {
        width: 95%;
        max-width: 600px;
        padding: 20px 0;
        word-wrap: break-word;
        display: inline-block;
        line-height: 1.7;
        text-align: justify;
        border-bottom: 2px solid #051e27;
        border-top: 2px solid #051e27;
        margin-bottom: 0;
    }

    #white-line {
        width: 95%;
        max-width: 600px;
        padding: 20px 0;
        word-wrap: break-word;
        display: inline-block;
        line-height: 1.7;
        text-align: justify;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
        margin-bottom: 0;
    }
}


.big-image {
    width: 50vw;
    max-width: 951.5px;
    margin: 0;
    padding: 0;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  
}

@include lg-phone {
    .big-image {
        width: 350px;
        padding-right: 0;
        margin-right: 0;
        max-height: 360px;
        min-height: 360px;
    }
}


    .otr-text {
        max-width: 720px;
        margin: 0;
        padding-left: 250px;

        h1 {
            padding-bottom: 10rem;
        }
    }