.fullScreen-container {
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url(../../images/smoke.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color-light {
  color: #d0aa5b;
}

.title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 300;
  font-family: "Lato";
  text-transform: capitalize;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25rem;
  margin-top: 10rem;
}

.card-info {
  display: flex;
  justify-content: center;
  height: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h3 {
      font-size: 2rem;
      font-family: "Lato";
      color: #1b4e61;
      margin: 0;
    }

    svg {
      width: 35px;
      height: 35px;
    }

    a {
      color: white;
      font-family: "Lato";
      font-weight: 200;
      transition: 0.3s ease;

      &:hover {
        color: #80aab9;
        font-weight: 500;
      }
    }

    p {
      text-align: center;
      font-size: 1.6rem;
      font-family: "Lato";
      margin: 5px;
      text-transform: capitalize;
    }
  }
}

.card1,
.card2,
.card3 {
  border-radius: 12px;
  max-width: 300px;
  width: 100%;
  max-height: 100%;
  box-shadow: 0 9px 0px #1b4e61;
  border: 1px solid #1b4e61;
}

.card2 {
  visibility: hidden;
}

.pdf {
  width: 100%;
  padding: 100px;
  margin-top: 13rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and(max-width:1000px) {
    padding: 20px;
  }

  div {
    width: 100%;
    height: 129vh;

    @media screen and(max-width:1000px) {
      padding: 20px;
    }
  }

  p {
    text-align: center;
    a {
      color: #fff;
      font-family: "Lato";

      &:hover {
        color: #b62b2b;
      }
    }
  }

  iframe {
    width: 100%;
    height: 85%;
    border-radius: 8px;
    border: 2px solid black;
    background-color: black;
  }
}

.about-text {
  max-width: 700px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  font-family: "Lato";
  margin-bottom: 10rem;
  padding: 30px;

  h3 {
    font-family: "Lato";
    span {
      color: snow;
    }
  }

  p {
    line-height: 1.8;
  }

  .competencies {
    p {
      font-style: italic;

      a {
        color: #b62b2b;
        transition: 0.6s ease;
        font-weight: 300;
        &:hover {
          color: #410606;
          cursor: pointer;
        }
      }
    }
  }

  .about-arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 6rem;

    a {
      color: white;
      text-align: center;

      svg {
        height: 35px;
        width: 35px;
        transition: 0.6s ease;

        &:hover {
          height: 45px;
          width: 45px;
          color: #b62b2b;
        }
      }
    }
  }
}

.skills-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  margin-top: 5rem;
  margin: 0 auto;
  height: 100vh;
  font-family: "Lato";
  transition: 2s ease;

  & > div {
    width: 33%;
    text-align: center;

    & p {
      text-transform: capitalize;
      transition: opacity 300ms ease-in;
    }

    & h3 {
      font-weight: 200;
      text-transform: capitalize;

      cursor: pointer;
      margin-top: 11rem;
      margin-bottom: 10rem;

      & span {
        border: 1px solid #f8f6f6;
        padding: 3px 20px;
        border-radius: 2px;

        // test
        // background: linear-gradient(to top, #08020b 50%, #006680 50%) bottom;
        background-size: 200%;
        transition: 0.5s ease-out;

        &:hover {
          background-color: #b62b2b;
          border: 1px solid #b62b2b;
          background-position: left;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    h3 {
      font-size: 1.5rem;
    }
  }
}

.background {
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  min-height: 500px;
  filter: contrast(95%) grayscale(20%);
  background-image: url(../../images/code-background.jpg);
  position: relative;

  &:before {
    background-color: rgba(0, 0, 0, 0.767);
  }

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .background:after {
    background-color: rgba(0, 9, 12, 0.9);
  }

  .background:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .card {
    padding: 40px;
    background: #404040;
    max-width: 360px;
    border-radius: 20px;
    margin: 60px auto;
    color: white;
    font-weight: 400;
    &.shadow {
      box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    }
  }
}

.contact-background {
  background-image: url(../../images/test.gif);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .contact-text {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-family: "lato";
    }
    h1 {
      font-family: "lato";
      font-weight: 400;
      font-size: 6rem;
    }

    @media screen and (max-width: 470px) {
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }

  .social-icons {
    display: flex;
    margin-top: 10rem;
    max-width: 240px;
    width: 100%;
    justify-content: space-between;
    a {
      color: white;
    }
    svg {
      height: 25px;
      width: 25px;
    }
  }

  form {
    max-width: 600px;
    width: 100%;
    input {
      padding: 15px 25px;
      background: #2f2e2e;
      border: none;
      color: white;
      font-family: "Lato";
      margin-bottom: 10px;
      opacity: 0.9;

      &::placeholder {
        color: white;
      }
    }

    .contact-subject {
      width: 100%;

      input {
        width: 100%;
      }
    }

    .contact-message {
      width: 100%;

      textarea {
        width: 100%;
        height: 200px;
        background: #2f2e2e;
        border: none;
        padding: 15px 25px;
        font-family: "Lato";
        color: #cacaca;
        resize: vertical;
        max-height: 400px;
        min-height: 100px;
        opacity: 0.7;
        color: white;

        &::placeholder {
          color: white;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    .contact-small-container {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;

      & > input {
        width: 50%;
      }

      & input:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}

.about-me-gif {
  max-width: 300px;
  max-height: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}
