header {
  margin: 0;
  background-color: #08020b;
  color: white;
  max-height: 150px;


}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;


  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif, sans-serif;
    font-size: 5rem;
  }

  ul {
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: white;
        margin-right: 20px;
        transition: 0.3s ease;
        font-family: "Lato";
        font-weight: 200;
        text-transform: capitalize;

        &:hover {
          color: snow;
          box-shadow: 0 4px 0px #1b4e61;
        }
      }
    }
  }
}
