/// <reference path="../css.scss" />
/* ==========================================================================
   Cookie container in bottom asking for cookie and integrity consent
   ========================================================================== */

#ew-cookieinfo-container {
    /*width: 25%;*/
    width: 450px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: linear-gradient(to bottom, #fcfcfc 0%,#f7f7f7 100%);
    padding: 30px;
    font-family: $font-main;
    font-size: 1.4rem;


    @include xl-phone {
        width: 100%;
        left: 0;
        bottom: 0;
    }

    &.hidden, .hidden {
        display: none;
    }

    span {
        display: flex;
        flex-direction: column;

        a {
            color: #000;
            margin-top: 15px;
            display: block;
            text-decoration: underline;
            color: #000;
            transition: all .4s;

            &:hover {
                color: #000;
                transition: all .4s;
            }
        }
    }

    #ew-cookieinfo-button-ok {
        display: block;
        margin-top: 25px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $font-main;
        color: #FFF;
        background: #54aaf0;
        cursor: pointer;
        transition: all .4s;


        &:hover {
            background: #76bef5;
            transition: all .4s;
        }
    }
}
